# Ignore environment and build files
.env
venv/
.venv/

# Ignore __pycache__ directories
__pycache__/

# Ignore other temporary or build-specific files
*.py[cod]
*$py.class
*.egg-info/

# IDE and editor settings
.vscode/
.idea/
*.swp
